*, *::before, *::after {
  box-sizing: border-box;
}
  
body {
  margin: 0 auto;
  font-size: 16px;
  background-color: $color-dark;
  color: $color-light;
  text-align: center;
  font-family: $font-family-sans;
  font-weight: $font-regular;
}

#pages {
  > * {
    display: none;
  }

  > .active {
    display: block;
  }
}

.hidden {
  display: none;
}

.songs-wrapper {
  padding-bottom: 20%;

  .song-wrapper {
    padding: 5%;
  
    .player{
      margin: 0 auto;
    }
      
    .song-attributes {
      display: flex;
      position: absolute;
      color: $color-metalic;
      justify-content: space-between;
      font-size: .9rem;
      left: 50%;
      transform: translateX(-50%);
      width: 30vw;
    }
  }
}

.section-title {
  font-size: 4rem;
  color: $color-metalic;
  text-transform: uppercase;
  font-weight: $font-regular;
  letter-spacing: 15px;
}

.section-subtitle {  
  font-size: 1.4rem;
}

#join, #add-song, #logout {
  .section-subtitle {
    font-size: 1.1rem;
    margin: 0 20%;
  }
}

form, .section-subtitle {
  letter-spacing: 4px;
  padding: 2%;
}

#join, #login, #add-song {
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    input {
      margin: 3%;
    }
  }
}

input {
  padding: 25px;
  height: 30px;
  width: 25vw;
}

.success {
  border: 4px solid $color-tree;
}

.error {
  border: 4px solid $color-danger;
}

.btn {
  background-color: $color-danger;
  color: $color-light;
  text-transform: uppercase;
  padding: 16px;
  font-size: 1.1rem;
  letter-spacing: 4px;
  font-weight: $font-semibold;

  &:hover {
    cursor: pointer;
    opacity: .8;
  }
}

.btn, input {
  border: none;
  border-radius: 10px;
}