.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .links-wrapper, .login-links-wrapper {
    a {
      padding-right: 8px;
    }
  }

  .for-logged {
    display: none;

    .user {
      font-size: 1.1rem;
      padding-right: 5px;
    }

    &.active {
      display: inline-block;
    }
  }
}

.links-wrapper {
  text-transform: uppercase;
  font-weight: $font-semibold;
  flex: 60%;
}

.login-links-wrapper {
  flex: 40%;
}

.login-links-wrapper, .links-wrapper {
  font-size: 1.4rem;
  padding: 5% 0;
  
  a {
    color: $color-metalic;
    text-decoration: none;
        
    &:hover {
      color: $color-light;
    }
  }
}