.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links-wrapper {
  text-transform: uppercase;
  font-weight: $font-semibold;
  flex: 60%;
}

.login-wrapper {
  flex: 40%;
}

.login-wrapper, .links-wrapper {
  font-size: 1.4rem;
  padding: 5%;

  a {
    color: $color-metalic;
    text-decoration: none;
    padding: 3%;
        
    &:hover {
      color: $color-light;
    }
  }
}