.songs {
  padding-bottom: 10%;

  .song-wrapper {
    padding: 2%;
      
    .song-attributes {
      display: flex;
      position: absolute;
      color: $color-metalic;
      justify-content: space-between;
      font-size: .7rem;
      left: 50%;
      transform: translateX(-50%);
      width: 16vw;
    }
  }
}

.section-title {
  font-size: 4rem;
  color: $color-metalic;
  text-transform: uppercase;
  font-weight: $font-regular;
  letter-spacing: 15px;
}

.btn {
  background-color: $color-danger;
  color: $color-light;
  text-transform: uppercase;
  padding: 15px;
  font-size: 1.1rem;
  letter-spacing: 5px;
  font-weight: $font-semibold;
  border: none;
  border-radius: 10px;
}