*, *::before, *::after {
    box-sizing: border-box;
}
  
body {
    margin: 0 auto;
    font-size: 16px;
    background-color: $color-dark;
    color: $color-light;
    text-align: center;
    font-family: $font-family-sans;
    font-weight: $font-regular;
}