#join {
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    input {
      margin: 3%;
    }
  }

  .new-account {
    font-size: 1.5rem;
    letter-spacing: 3px;
  }
}